opencv-python=4.7.0.72
GitPython==3.1.31

importlib-metadata==6.1.0
ipykernel==6.19.4
ipython==8.7.0

jupyter_client==7.4.8
jupyter_core==5.1.0

matplotlib==3.6.2
matplotlib-inline==0.1.6

numpy==1.24.1

pandas==1.5.2


rich==13.3.3
seaborn==0.12.2

streamlit==1.20.0

